@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c5c5cf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
.color-empty {
  fill: #ebedf0;
} /* 0 lần học */

.color-scale-1 {
  fill: #c6e48b;
} /* 1–20% của max */
.color-scale-2 {
  fill: #7bc96f;
} /* 21–40% */
.color-scale-3 {
  fill: #239a3b;
} /* 41–60% */
.color-scale-4 {
  fill: #196127;
} /* 61–80% */
.color-scale-5 {
  fill: #0f4210;
} /* 81–100% */
